<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bocom.dao.OperationLogDao">
	<resultMap type="com.bocom.domain.OperationLog" id="OperationLog">

		<result column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="username" property="username" />
		<result column="org_id" property="orgId" />
		<result column="org_name" property="orgName" />
		<result column="operate_type" property="operateType" />
		<result column="operate_content" property="operateContent" />
		<result column="operate_time" property="operateTime" />

	</resultMap>

	<select id="selectAll" resultMap="OperationLog" parameterType="com.bocom.domain.OperationLog">
		SELECT
		id,
		userid,
		username,
		org_id,
		org_name,
		operate_type,
		operate_content,
		operate_time
		FROM t_operation_log
	</select>

	<insert id="insert" parameterType="com.bocom.domain.OperationLog">
		INSERT INTO t_operation_log
		(
		userid,
		username,
		org_id,
		org_name,
		operate_type,
		operate_content,
		operate_time
		)
		VALUES
		(
		#{userid},
		#{username},
		#{orgId},
		#{orgName},
		#{operateType},
		#{operateContent},
		#{operateTime} )
	</insert>
	<select id="selectOperationLog" resultMap="OperationLog" parameterType="com.bocom.domain.OperationLog">
		SELECT
		id,
		userid,
		username,
		org_id,
		org_name,
		operate_type,
		operate_content,
		operate_time
		FROM t_operation_log
		where 1=1 
		<if test="operateType!=null and operateType!='' ">
			and operate_type = #{operateType}
		</if>
		<!-- <if test="userid!=null ">
			and userid = #{userid}
		</if> -->
		<if test="orgId!=null and orgId!='' ">
			and org_id = #{orgId}
		</if>
		<if test="beginTime!=null and beginTime!=''">
	    	<![CDATA[  and  wo.operate_time >= #{beginTime}  ]]>
		</if>
		<if test="endTime!=null and endTime!=''">
	    	<![CDATA[  and  wo.operate_time <= #{endTime}  ]]>
		</if>
		
		order by operate_time desc LIMIT #{pageStart},#{pageSize}
	</select>
	<select id="selectOperationLogCount" resultType="java.lang.Integer" parameterType="com.bocom.domain.OperationLog">
		SELECT
		count(id) FROM t_operation_log
		where 1=1 
		<if test="operateType!=null and operateType!='' ">
			and operate_type = #{operateType}
		</if>
		<!-- <if test="userid!=null ">
			and userid = #{userid}
		</if> -->
		<if test="orgId!=null and orgId!='' ">
			and org_id = #{orgId}
		</if>
		<if test="beginTime!=null and beginTime!=''">
	    	<![CDATA[  and  wo.operate_time >= #{beginTime}  ]]>
		</if>
		<if test="endTime!=null and endTime!=''">
	    	<![CDATA[  and  wo.operate_time <= #{endTime}  ]]>
		</if>
	</select>
</mapper>