.toolbar{
	margin-bottom: 10px;
}
.route{
	padding-left: 16px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	color: #666;
}
.page-container {
	float:right;
	margin-bottom: 20px;
}
.folder-container{
	margin: 20px 0;
}
.pic,
.document,
.media,
.doc-else,
.folder,
.widget{
	display: inline-block;
	margin-right: 10px;
	padding-top: 64px;
	width: 100px;
	height: 88px;
	overflow:hidden;
	line-height: 24px;
	text-align:center;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.folder{
	background:url(../img/folder.png) center 0 no-repeat;
}
.widget{
	background:url(../img/zip.png) center 15px no-repeat;
}
.document{
	background:url(../img/document.png) center 15px no-repeat;
}
.media{
	background:url(../img/media.png) center 15px no-repeat;
}
 .doc-else{
	 background:url(../img/doc-else.png) center 15px no-repeat;
 }
 .pic{
	 background:url(../img/pic.png) center 15px no-repeat;
 }
.pic:link,
.pic:visited,
.doc-else:link,
.doc-else:visited,
.media:link,
.media:visited,
.document:link,
.document:visited,
.folder:link,
.folder:visited,
.widget:link,
.widget:visited{
	color: #333;
	text-decoration : none;
	background-color: transparent;
}
.pic:hover,
.pic:active,
.doc-else:hover,
.doc-else:active,
.media:hover,
.media:active,
.document:hover,
.document:active,
.folder:hover,
.folder:active,
.widget:hover,
.widget:active{
	color: #333;
	text-decoration : none;
	background-color: #badeff;
}
.seled:link,
.seled:visited,
.seled:hover,
.seled:active{
	background-color: #badeff !important;
}